
<div class="container text-center">

	<h1>Get connected with us on social networks!</h1>
  
  </div>
  
  <div class="container">
  
  
	<div class="text-center center-block">
  
	  <br />
	  <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social"></i></a>
	  <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a>
	  <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social"></i></a>
	  <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
	</div>
	<hr />
  </div>
  <!-- Grid column -->
  
  
  <!-- Grid row-->
  
  
  
  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-4 pt-md-5">
  
	<!-- Grid row -->
	<div class="row mt-1 mt-md-0 mb-4 mb-md-0">
  
	  <!-- Grid column -->
	  <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
		<!-- Links -->
		<h5><a href="about.html">About Us</a> </h5>
		<hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
		<p class="foot-desc mb-0">Here you can use rows and columns to organize your footer content. Lorem
		  ipsum dolor sit amet,
		  consectetur
		  adipisicing elit.</p>
		<p>
		  <a href="http://jigsaw.w3.org/css-validator/check/referer">
			<img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
			  alt="Valid CSS!" />
		  </a>
		</p>
  
  
	  </div>
	  <!-- Grid column -->
  
	  <hr class="clearfix w-100 d-md-none">
  
	  <!-- Grid column -->
	  <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
		<!-- Links -->
		<h5><a href="products.html">Products</a> </h5>
		<hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
		<ul class="list-unstyled foot-desc">
		  <li class="mb-2">
			<a href="#!">MDBootstrap</a>
		  </li>
		  <li class="mb-2">
			<a href="#!">MDWordPress</a>
		  </li>
		  <li class="mb-2">
			<a href="#!">BrandFlow</a>
		  </li>
		  <li class="mb-2">
			<a href="#!">Bootstrap Angular</a>
		  </li>
		</ul>
  
	  </div>
	  <!-- Grid column -->
  
	  <hr class="clearfix w-100 d-md-none">
  
	  <!-- Grid column -->
	  <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
		<!-- Links -->
		<h5><a href="contact.html">Useful links</a> </h5>
		<hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
		<ul class="list-unstyled foot-desc">
		  <li class="mb-2">
			<a href="#!">Your Account</a>
		  </li>
		  <li class="mb-2">
			<a href="#!">Become an Affiliate</a>
		  </li>
		  <li class="mb-2">
			<a href="#!">Shipping Rates</a>
		  </li>
		  <li class="mb-2">
			<a href="#!">Help</a>
		  </li>
		</ul>
  
	  </div>
	  <!-- Grid column -->
  
	  <hr class="clearfix w-100 d-md-none">
  
	  <!-- Grid column -->
	  <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
		<!-- Links -->
		<h5><a href="contact.html">Contacts</a> </h5>
		<hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
		<ul class="fa-ul foot-desc ml-4">
		  <li class="mb-2"><span class="fa-li"><i class="far fa-map"></i></span>New York, Avenue Street 10
		  </li>
		  <li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>042 876 836 908</li>
		  <li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>company@example.com</li>
		  <li><span class="fa-li"><i class="far fa-clock"></i></span>Monday - Friday: 10-17</li>
		</ul>
  
	  </div>
	  <!-- Grid column -->
  
	</div>
	<!-- Grid row -->
  
  </div>
  <!-- Footer Links -->
  
  
  <footer>
	<nav class="navbar navbar-expand-sm background-clip navbar-dark 100%">
	  <a class="navbar-brand" href="index.html"> <img src="images/logo.png" height="30" alt="GearsClothingCo logo">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <!-- Copyright -->
	  <div class="collapse navbar-collapse text-center" id="collapsibleNavbar1">
  
		<p>&copy;Maurice Johnson - Content Copyright of Gears Clothing Company</p>
		<p><a href="mailto:mauricejohnson@triosstudent.com">Send Email</a></p>
		<p><a href="images/Gears Clothing Site Map.jpg">for the site map link</a></p>
  
	  </div>
	</nav>
  </footer>
  
