<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" src="https://i.pinimg.com/736x/96/f0/fb/96f0fb51d0cffe958989f6c05f382942--nike-air-jordan-retro-air-jordan-shoes.jpg"/>
    
    <div class="card-body">
        <p class="card-text">
            <strong><small class="text muted">{{ 500 |currency:'CDN'}}</small></strong>
        </p>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary product-btn">Add to Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>
      
    </div>
 </div>
